li{
    color:red;
    background-color: blue;
    border-width:5px;
    margin: 10px;
    border-style: dashed;
    border-color: rgb(7, 7, 7);
    
}


h1 {
    color: blueviolet;
}

ul {
    background-color:rgba(61, 209, 93, 0.5);
}

body {
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRYvkfX3_oBoZf_4jlUGALhg2VaDw5FkN5ZJi7M6wEqol1sscQK9ZgtjUReZcdk0ZXDYFa9VVQ&usqp=CAc);

}

P {
    background-color: orange;
}